<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This website is used to get weather data. The APIs used in this website is taken from <a href="mapbox.com">mapbox.com</a> and <a href="weatherstack.com">weatherstack.com</a>.</p>
        <img class="portrait" src="/img/me.JPG" />
        <p> <a href="https://www.linkedin.com/in/ragibayon/" target="_blank">Ragib Shahariar Ayon </a>, currently working as a blockchain software engineer at BJIT Limited.</p>
        </div>
        {{>footer}}
    </body>
</html>